
<footer class="pt-5 pb-3" id="footer">
    <div id='lake'>
        <div id='sploutch'>
            <div class='drop'></div>
            <div id='ripples'>
                <div class='ripple'></div>
                <div class='ripple'></div>
            </div>
            <div id='splashes'>
                <div class='splash'></div>
                <div class='splash'></div>
                <div class='splash'></div>
            </div>
        </div>
    </div>
    <div class="mt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div>
                            <div class="image-container">
                                <img class="rounded-circle" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                            </div>
                            <h4 class="text-center pt-3">Gordana Babuder</h4>
                            <hr class="footer-hr">
                            <ul class="social-media-links text-center pt-3">
                                <li class="list-unstyled d-inline mx-2">
                                    <a href="https://www.facebook.com/jakisnica" target="_blank" class="link-social-media"><i class="fab fa-facebook-f social-media-size"></i></a>
                                </li>
                                <li class="list-unstyled d-inline mx-2">
                                    <i class="fab fa-instagram social-media-size"></i>
                                </li>
                                <li class="list-unstyled d-inline mx-2">
                                    <i class="fab fa-linkedin-in social-media-size"></i>
                                </li>
                                <li class="list-unstyled d-inline mx-2">
                                    <i class="fab fa-google social-media-size"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>