<div class="wrapper">
    <header id="header">
        <nav class="fixed-top">
            <div class="menu">
                <ul class="list-unstyled">
                    <li><a class="link-secondary" href="#header">Home</a></li>
                    <li><a class="link-secondary" href="#portfolio">Portfolio</a></li>
                    <li><a class="link-secondary" href="#contact">Contact</a></li>

                </ul>
            </div>
        </nav>
        <div>
            <h1>Apartmani Babuder</h1>
            <h4 class="text-center">lorem impsum</h4>
        </div>
    </header>
</div>