{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    {% include 'partials/header.html.twig' %}


    <div class="imageBackgroundContainer">

        {% include 'partials/portfolio.html.twig' %}

        {% include 'partials/contact.html.twig' %}

    </div>



    {% include 'partials/footer.html.twig' %}




{% endblock %}